---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import Post from "../components/Post.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "blog";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <div class="post-list">
      {
        allPosts.map((post) => (
          <Post
            title={post.frontmatter.title}
            url={post.url}
            date={post.frontmatter.pubDate}
            imageUrl={post.frontmatter.image.url}
            description={post.frontmatter.description}
          />
        ))
      }
    </div>
  </main>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
  }

  .career-section {
    display: flex;
    align-items: center;
    gap: 20px; /* 余白のサイズ */
    position: relative;
  }
  .career-section-title {
    margin: 0px;
  }
  .career-section:not(:last-child)::before {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    border-left: 2px solid rgba(0, 0, 0, 0.24);
    position: absolute;
    left: 62px;
    top: 60px;
  }
  .projects {
    max-width: 720px;
  }
  .project-title {
    font-size: 1.5rem;
  }
  .project-title-link {
    color: black;
    text-decoration: none;
  }
  .project-description {
    margin-top: 2px;
    font-size: 1rem;
    color: black;
  }
  .project-description-link {
    text-decoration: none;
  }
  .post-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
</style>
