---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/Post.astro";
import GitUser from "../components/GitUser.astro";
const pageTitle = "Home Page";
const allPosts = await Astro.glob("../pages/posts/*.md");
console.log(allPosts[0].frontmatter);
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <GitUser/>
    <div class="post-list">
      {
        allPosts.map((post) => (
          <Post
            title={post.frontmatter.title}
            url={post.url}
            date={post.frontmatter.pubDate}
            imageUrl={post.frontmatter.image.url}
            description={post.frontmatter.description}
          />
        ))
      }
    </div>
  </main>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .post-list {
    display: flex;
    flex-wrap: wrap;
  }
</style>
